<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>aplikacja angular</title>

  <!-- link:css -->
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="AppCtrl">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">

      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" 
                                ui-sref="playlists">Playlists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" 
                                ui-sref="search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" 
                                ui-sref="settings">Settings</a>
          </li>
        </ul>
        <div class="text-white ml-auto">
          <ng-include src=" 'user-panel.html' "></ng-include>
        </div>

      </div>
    </div>
  </nav>



  <div class="container">
    <div class="row">
      <div class="col">

        <!-- <ng-include src=" navigation.activePage.template "></ng-include> -->
        <ui-view></ui-view>

      </div>
    </div>
  </div>

  <!-- script:src -->
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="src/playlists/playlists.module.js"></script>
  <script src="src/search/search.module.js"></script>
  <script src="src/user/user.module.js"></script>
  <script src="src/utils.js"></script>
  <script src="src/settings/settings.module.js"></script>
  <script src="src/demo.module.js"></script>

  <!-- https://code.angularjs.org/1.8.2/docs/api/ng/service/$templateCache -->
  <script type="text/ng-template" id="user-panel.html"> <!-- User Panel -->
  <div ng-controller="UserCtrl" class="float-right" ng-cloak>
    <!-- <input type="text" ng-model="user.name"> -->
    <p>Witaj {{user.name? user.name : 'Gościu'}},
      <a ng-click=" wyloguj() "> Wyloguj</a>
    </p>
  </div>
  </script>

  <!-- Boostrap APP: -->
  <script src="src/app.module.js"></script>
</body>

</html>