<form name="$ctrl.form" novalidate ng-submit=" $ctrl.save() ">
  <pre>{{ $ctrl.form.name | json:2 }}</pre>

  <!-- .form-group>label{Name:}+input.form-control -->
  <div class="form-group">

    <label>Name:</label>
    <input type="text" class="form-control" ng-model="$ctrl.draft.name" name="name" required minlength="3"
      pattern="[A-Za-z\s]+">

    <p>{{$ctrl.draft.name.length}} / 170</p>

    <div ng-if="$ctrl.form.name.$invalid && ($ctrl.form.name.$touched || $ctrl.form.name.$dirty)">
      <p class="text-danger" ng-if=" $ctrl.form.name.$error.required">Field is required</p>
      <p class="text-danger" ng-if=" $ctrl.form.name.$error.minlength">Value too short</p>
      <p class="text-danger" ng-if=" $ctrl.form.name.$error.pattern">Invalid characters</p>
    </div>

  </div>

  <!-- .form-group>label{Public:}+input[type=checkbox] -->
  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="$ctrl.draft.favorite" name="favorite"> Public </label>
  </div>

  <!-- .form-group>label{Description:}+textarea.form-control -->
  <div class="form-group">
    <label>Description:</label>
    <textarea cols="10" rows="10" class="form-control" ng-model="$ctrl.draft.description" name="description"></textarea>
  </div>

  <button class="btn btn-danger" type="button" ng-click="$ctrl.onCancel()">Cancel</button>
  <button class="btn btn-success" type="submit">Save</button>
</form>

<style>
  form .ng-dirty.ng-invalid,
  form .ng-touched.ng-invalid {
    border: 2px solid red;
  }

  form .ng-dirty.ng-valid,
  form .ng-touched.ng-valid {
    border: 2px solid green;
  }
</style>