<div>

  <dl>
    <dt>Name:</dt>
    <dd>{{ $ctrl.playlist.name }}</dd>

    <dt>Public:</dt>
    <dd>{{ $ctrl.playlist.favorite? 'Yes' : 'No' }}</dd>

    <dt>Description</dt>
    <dd>{{ $ctrl.playlist.description }}</dd>
  </dl>

  <button class="btn btn-info" ng-click="$ctrl.onEdit()">Edit</button>
</div>