<!-- Playlists -->
<div class="row" ng-controller="PlaylistPageCtrl as pageData">
  <div class="col">
    
   <playlist-list playlists="pageData.playlists"
                  selected="pageData.selected"
                  on-select="pageData.toggle($event)"
                  on-delete="pageData.removePlaylist($event.id)"
                  on-create="pageData.createNew()"
   ></playlist-list>

  </div>
  <div class="col">

    <div class="alert alert-danger" ng-if="pageData.message">{{pageData.message}}</div>

    {{pageData.mode}}

    <playlist-details 
      ng-if="pageData.selected && pageData.mode == 'details'"
      playlist="pageData.selected" 
      on-edit="pageData.mode = 'edit'"></playlist-details>


    <playlist-form ng-if="pageData.selected && pageData.mode == 'edit'"
      playlist="pageData.selected" 
      on-cancel="pageData.cancel()"
      on-save="pageData.save($event)"
    ></playlist-form>

  </div>
</div>