<div>
  <div class="row">
    <div class="col">
      <div class="card">
        <img ng-src="{{$ctrl.album.images[0].url}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <h5 class="card-title">{{album.name}}</h5>
        </div> -->
      </div>
    </div>
    <div class="col">
      <h2>{{$ctrl.album.name}}</h2>


      <div class="list-group">
        <div class="list-group-item" 
             ng-repeat="(index,track) in $ctrl.album.tracks.items">
         {{index+1}}. {{track.name}}
        </div>
      </div>

    </div>
  </div>
</div>