<!-- div>.row*2>.col -->


<div>
  <div class="row">
    <div class="col">
      Szukajka

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.query">
        <button class="btn btn-outline-secondary" type="button" ng-click="$ctrl.search(query)">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" ng-if="$ctrl.message">
        {{$ctrl.message}}
      </div>

      <div class="row row-cols-1 row-cols-md-4 g-0 no-gutters">
        <div class="col" ng-repeat="album in $ctrl.results">
          <div class="card" ui-sref="albums({album_id:album.id})">
            <img ng-src="{{album.images[0].url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{album.name}}</h5>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>