<div ng-controller="SettingsPageCtrl">

  <app-accordion>

    <app-card-collapsible title="Main settings">
      <pre>{{ settings | json:2 }}</pre>
    </app-card-collapsible>

    <app-card-collapsible title="Main settings">

      <!-- <input type="text" ng-model="settings.options['email'].value"> -->

      <!-- on-change="settings.options['name'].value = $event" -->
      <!-- value="settings.options['name'].value" -->

      <settings-text-option option-label="Name" ng-model="settings.options['name'].value">
      </settings-text-option>

      <settings-text-option option-label="Email" value="settings.options['email'].value"
        on-change="settings.options['email'].value = $event">
      </settings-text-option>

      <settings-text-option option-label="Website" value="settings.options['website'].value"
        on-change="settings.options['website'].value = $event">
      </settings-text-option>


    </app-card-collapsible>

  </app-accordion>


</div>